/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

html, body {
    font-family: Verdana, sans-serif;
    overflow: visible;

    scroll-behavior: smooth;
}

.title {

    /*margin-left: 15em;*/
    /*background-color: #ccdfcb;*/
    background-color: transparent;
    height: 6em;
    width: 100%;

}

.miscNavig {

    background-color: lightgray;
    height: 1.5em;
    width: 100%;

}

.titleLabel {

    font-family: 'Abel', sans-serif;
    font-weight: bolder;

    font-size: 2vw;
    margin-left: 2em;

    text-align: left;

    text-wrap: normal;

    color: white;

    margin-top: 1em;
}


.titleLabel:lang(ru) 	{

    font-family: 'Open Sans Condensed', sans-serif;
    /*font-family: 'Abel', sans-serif;*/
    font-weight: normal;

    font-size: 2vw;
    margin-left: 2em;

    text-align: left;

    text-wrap: normal;

    color: white;

    margin-top: 1em;

}

.titleSmallLabel {

    font-size: 1em;
    margin-left: 2em;
    font-family: 'Oranienbaum', serif;
    font-weight: bolder;
    text-align: left;

    text-wrap: normal;

    color: #006666;

    margin-top: 0.2em;
}

.checkBoxSmallLabel {

    font-size: 1em;
    margin-left: 1em;
    font-family: 'Oranienbaum', serif;
    font-weight: normal;
    text-align: left;
    text-wrap: normal;
    color: #006666;

}

.layoutStyleMenu {

    background: transparent;
}

.layoutStyle {
    background-size: cover;
    background: transparent left top;
    width: 100%;
    height: 100vh;

}

@keyframes mymove {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

.textSign {

    font-family: Verdana sans-serif cursive;
    color: #006666;
    font-size: 1em;
    text-align: right;
    width: 85%;
    min-width: 10em;
    margin-left: 2em;

    /*text-indent: 50px;*/
}

.textRef {

    font-family: Verdana sans-serif;
    color: #3e4a83;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-top: thin white;

    /*text-indent: 50px;*/
}

/*.flow  div::first-letter {*/
/*font-size: 1.2em;*/
/*color: #834209;*/
/*margin-left: 1em;*/
/*margin-top: 1em;*/
/*}*/

.flow {

    background: #F5F1EA;
    /*text-indent: 50px;*/
    /*margin-left: 10em;*/
    /*margin-right: 10em;*/
    font-family: "Helvetica Neue";
    max-width: 40em;
    margin: auto;
    padding: 0 1em;
    color: #09352e;

}

.scrollPanel {

    background: #F5F1EA;
    scroll-behavior: smooth;

}

.flowMain {

    background: #eef5dd;
    font-family: "Helvetica Neue";
    max-width: 75%;
    color: #09352e;
    opacity: 0.94;
    filter: alpha(opacity=94);
    height: 90vh;
    overflow: auto;

}

.flowComments {

    background: #eef5dd;
    font-family: "Helvetica Neue";
    max-width: 40em;
    color: #09352e;
    opacity: 0.95;
    filter: alpha(opacity=90);
    height: 90vh;
    overflow: auto;
}

.titleBar {

    /*margin-left: 15em;*/

    width: 100%;
    background-color: transparent;

}

.langSelector {
    margin-left: 3em;
    margin-top: 1em;
    width: 5em;
    position: absolute;
}

.commentText {

    color: darkolivegreen;
    margin-top: 2em;
    font-size: 1em;
    font-family: "Helvetica Neue", sans-serif;
    margin-left: 3em;
}

.commentTextDefault {
    color: lightgrey;
    font-family: "Helvetica Neue", sans-serif;

    margin-top: 2em;
    font-size: 1em;
    margin-left: 3em;
}

.buttonRed {
    border: none;
    background: url(button.png) repeat top left;

    background-size: cover;

    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.9em;
    width: 6em;
    height: 2em;

    margin-top: 1em;
    margin-left: 3em;
    cursor: hand;

}

.buttonRed:focus {
    cursor: hand;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.buttonRed:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5em;

}

.feedback {

    color: chocolate;
    margin-top: 1em;
    font-size: 1em;
    font-family: "Helvetica Neue", sans-serif;
    margin-left: 3em;
}

.redArrImage {

    vertical-align: middle;

}

.subtitle {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 5vw;

    margin-top: 6em;
    margin-bottom: 2em;

    overflow-wrap: break-spaces;
    width: 100%;
    white-space: pre;

    text-underline: thick;
    text-underline-color: #f8a600;

}

.subtitle:hover {

    cursor: pointer;
    /*text-decoration-line: underline;*/
}

.textTitle {

    padding-top: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #09352e;
    width: 92%;
    min-width: 10em;
    margin-left: 2em;
    text-align: left;
    text-justify: inter-word;
    font-size: 1.2em;
    right: 0;

}

.textPara {

    padding-top: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: #09352e;
    width: 92%;
    min-width: 10em;
    margin-left: 2em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
    right: 0;

}

.langSel a {
    color: #FF675D;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
}

.langUnsel a {
    color: #026671;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
}

.search_examples {
    color: #0a55a7;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 2em;
    padding-top: 1em;

    white-space: nowrap;
}

.navigation {
    padding-top: 1em;
    padding-left: 4em;
}

.navigation a {

    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
}

.navigationSel {
    padding-top: 1em;
    padding-left: 4em;
    /*text-decoration-line: underline;*/
    /*text-decoration-style: solid;*/
    /*text-underline-position: below;*/

}

.navigationSel a {

    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
    /*text-decoration-color: #FF675D;*/
    color: #f8a600;

}

.divider {

    color: #026671;
    font-family: 'Open Sans', sans-serif;
}

.lang {

    margin-right: 2em;

}

.arrorNav a {
    color: white;
    font-family: 'Prata', serif;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 1em;
    cursor: pointer;
    font-size: 1.3em;
}

.arrorNav a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;

    cursor: pointer;
    text-decoration-color: #07ccff;
    text-decoration-skip: edges;
}

.menuIcon {

    margin-right: 2.5em;
    cursor: pointer;

}

.tst {
    padding-top: 1.2em;

    color: #FF675D;
    width: 85%;
    min-width: 10em;
    margin-left: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.tst a:link {
    color: #FF675D;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.hand {
    position: relative;
    left: -150px;
    top: 0;

}

.seachBox {

    width: 100%;
    /*border: thin solid gray;*/
    height: 2.3em;
    /*margin-left: 2em;*/

    border-radius: 5px;
    border: thin solid #335214;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 5px;
    margin-top: 3px;

}

.seachBox:focus {

    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover {
    background: white;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.lookingGlass {

    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    left: -2em;
    top: 1.5em;

    border: none;
    background: transparent url("searchIcon.png") no-repeat;

}

.lookingGlass:focus {

    outline: none;
    -webkit-box-shadow: #697e7e;
    -moz-box-shadow: #697e7e;
    box-shadow: #697e7e;
    cursor: pointer;

}

.lookingGlass:active {
    background-image: url("searchIconActive.png");
    background-repeat: no-repeat;
}

.searchPanel {

    width: 100%;

}

.search_examples a {

    text-decoration: none;
    color: #0a55a7;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    padding-left: 2em;

}

.search_examples a:visited {

    text-decoration: none;
    color: #0a55a7;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    padding-left: 2em;
    padding-top: 1em;

}

.search_examples a:hover {

    text-decoration: underline;
    color: #0a55a7;
}

.editing_panel {

    background-color: #232833;
}

.splitLayoutPanel {
    border-top: thin solid #8d412e;
}

.splitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
    background: #e7e7e7 url(images/thumb_vertical.png) center center no-repeat;
    cursor: col-resize;
    background-color: lightgray;
}

.splitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
    background: #e7e7e7 url(images/thumb_horz.png) center center no-repeat;
    cursor: row-resize;
    background-color: lightgray; /*#f4fff0;*/

}

.highlightedText {
    background-color: #ffd657;
}

.letter_table_display {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}

.letter_table_display_header {
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #1e584c;
}

/* The animation code */

@keyframes workSelection {

    from {
        background-color: #feab11;
    }

    to {
        background-color: lightyellow
    }

}

:target {

    background-color: lightyellow;

    animation-name: workSelection;
    animation-duration: 5s;
}

/*.gwt-SplitLayoutPanel {  }*/
/*.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {   background-color: lightgray; !*#f4fff0;*! }*/
/*.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {   background-color: lightgray; !*#f4fff0;*! }*/
.loadingProgressImage {

    display: inline-block;
    /*width: 24px;*/
    /*height: 24px;*/
    /*position: relative;*/
    /*!*left: -0.5em;*!*/
    margin-top: 0.8em;

}

.line_box {
    fill: #d2cc97;
    stroke: #d2cc97;
    stroke-width: 2;
}

.circle_event {
    fill: #fbfff4;
    stroke: #a09f6e;
    stroke-width: 1;
}

div.tooltip {
    position: absolute;
    text-align: center;
    height: 18px;
    padding: 2px;
    font: 0.8em "Open Sans", sans-serif;
    font-weight: bold;
    color: #064f8b;
    background: #f7f8ed;
    border: 0;
    border-radius: 0.2em;
    pointer-events: none;
    text-wrap: none;
}

/*.svg-container {*/
/*display: inline-block;*/
/*position: relative;*/
/*width: 100%;*/
/*padding-bottom: 100%;*/
/*vertical-align: top;*/
/*overflow: hidden;*/
/*}*/
/*.svg-content {*/
/*display: inline-block;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/
.exampleLabel {
    text-align: left;
    font-size: 0.9em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: #026671;;

}

.exampleAnchor {

    padding-left: 10px;
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    color: #0a55a7;

}

.exampleAnchor a {
    color: #0a55a7;
    font-family: "Courier New", Courier, monospace;

    font-weight: bold;

}

.exampleAnchor a:hover {
    color: #0a55a7;
    font-family: "Courier New", Courier, monospace;

    font-weight: bold;
    text-decoration: underline;

}

.captionImages {
    float: right;
    /*cursor: pointer;*/
}

/*.Caption {*/
/*width: 100%;*/
/*}*/

.htmlHand {
    cursor: pointer;

    display: block;

    border: 0px solid transparent;

    margin: 1px;
}

.htmlHand:hover {
    border: 1px solid #4d4d4d;

    margin: 0px;
}

.interfaceLabelInstructions {
    text-align: left;
    font-size: 0.8em;
    margin-top: 1em;
    font-weight: 100;
    font-family: 'Asap', sans-serif;
    padding-left: 10pt;
    color: #324046;
}

.example_dialog {

    background-color: #f9fbe6;
    border: thin solid #4f5b66;
    border-radius: 0.5em;

}

.code {

    font-family: "courier new", courier, monospace;
    color: #103458;
    font-weight: bold;
    font-size: 0.9em;
}

.Caption {
    width: 100%;
}

gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .dialogBottomCenter {
    background: url(images/hborder.png) repeat-x 0px -2945px;
}

.gwt-DialogBox .dialogMiddleLeft {
    background: url(images/vborder.png) repeat-y -31px 0px;
}

.gwt-DialogBox .dialogMiddleRight {
    background: url(images/vborder.png) repeat-y -32px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
    background: url(images/circles.png) no-repeat -20px 0px;

}

.gwt-DialogBox .dialogTopRight {
    background: url(images/circles.png) no-repeat -28px 0px;

}

.gwt-DialogBox .dialogBottomLeft {
    background: url(images/circles.png) no-repeat 0px -36px;

}

.gwt-DialogBox .dialogBottomRight {
    background: url(images/circles.png) no-repeat -8px -36px;
}

* html .gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.in_development {

    text-align: left;
    font-size: 0.7em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: #aba8ab;;

}

.chronology_panel {

}

.index_panel_style {

    /*background: #f5ad72 url(images/old_diary.png) no-repeat center center fixed;*/

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    background: transparent;

    height: 100%;
    overflow: auto;
}

/*.comment_panel_style {*/

/*background: whitesmoke url(images/bckg-comment.jpg) no-repeat center center fixed;*/

/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/

/*}*/

.intro_image {

    width: 92%;
    padding-left: 2.5em;

}

.content_base {

    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.initial_background {

    /*-webkit-transition: width 3s;*/
    /*transition: width 3s;*/
    background: url(Tolstoy_004_bkg.png) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.intro_background {

    /*!*-webkit-transition: width 3s;*!*/
    /*!*transition: width 3s;*!*/
    /*background: #f5ad72 url(images/old_diary.png) no-repeat center center fixed;*/

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    background-image: linear-gradient(#007c77, #00908b, #dcf0e0);

}

.search_background {

    background: whitesmoke;

}

.comment_background {

    /*-webkit-transition: width 3s;*/
    /*transition: width 3s;*/
    background: #f5d0c4 url(images/bckg-comment.jpg) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.enter_circle {

    stroke: #008e83;
    fill: #007a6f;
    opacity: .75;
}

.enter_text {

    fill: #f8a600;
    /*stroke: #f8a600;*/
    font-family: 'Abel', sans-serif;

    font-size: 1.6em;
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: central;
}

.circleContainer {
    /*margin-top: 1em;*/
    position: absolute;
    right: 10vh;
    bottom: 15vh;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.disqus_comment {

    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
    height: 20em;
}

.index_vertical {

    text-align: center;

}

.index_panel_scroll {

    width: 50%;
    float: right;

    scroll-behavior: smooth;

}

.scrollPanel_smooth {

    scroll-behavior: smooth;
}

.comment_main {
    height: 100%;
    overflow: auto;
}

.feedback_panel {

    width: 100%;
    background-color: white;

}

.feedback_disabled {

    font: 0.8em "Open Sans", sans-serif;
    font-weight: lighter;
    color: #007c77;
}

.options_tab {

    margin-top: 1vh;
    font: 0.8em "Open Sans", sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    color: #007c77;

    border-style: solid;
    border-width: thin;
    border-color: lightgray;

    border-bottom: none;

    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    padding: 3px;

    white-space: nowrap;
    display: inline-block;

    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

}

.options_tab_sel {

    background-color: white;
    border-color: black;
    font-weight: bold;
}

.deck_panel_for_options {

    background-color: white;
    height: 90vh;
    width: 100%;

}

.highlighter_line {

    stroke: lightgray;
    stroke-width: 15px;

}

.book_list {

    overflow-y: scroll;

    height: 90vh;
    width: 100%;
    text-overflow: ellipsis;
    text-wrap: none;
    white-space: nowrap;
    overflow-x: hidden;
}

.book_list ::selection {
    background-color: #2dbeff;
    outline: none;
    color: white;
}

.book_list:focus {
    background-color: #2dbeff;
    outline: none;
    color: white;
}

.book_list_items {

    font-family: "Helvetica Neue";
    font-size: 0.8em;

    /*font-variant: small-caps;*/

    cursor: pointer;

    margin-left: 2px;

    white-space: nowrap;
    width: 12vw;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #256f6a;

}

.book_list_items:hover {
    text-overflow: clip;
    width: auto;
    white-space: normal;
}

.video-container {

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    display: block;

}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.svg_navigation {

    font-size: 0.8em;
    font-variant: small-caps;
   fill: #0a55a7;


    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: central;

    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.svg_navigation:hover {

    cursor: pointer;

}

.reset_circle {
    opacity: .55;
    stroke: #e6e6e0;
    fill: white;

}





